@import"~bootstrap/dist/css/bootstrap.css";
body
{
   padding : 20 px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
   
}
input[type="text"], input[type="email"] {
	width: 300px;
}
button{
    
    width:85px;
	height:85px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
   /*background-color: dodgerblue;
   color: floralwhite;
   border-block-end-color: dodgerblue;*/
}
.form-control.ng-tuoched.ng-invalid{
    border : 2px solid red;
}
.center_div{
    margin:  auto;
    width:30% 
}
 
