
<div class="content">
  


  
      <nav class="navbar navbar-expand-lg navbar-light bg-light">   
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
             <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Features</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" routerLink="/">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" routerLink="/">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>
</div>        
<div class="container">
     <!-- <a><label> FORMULAIRE </label></a>-->
     <!--rafrichissement autaumatique de la page qui contient la table d'affichage-->  
     <!--<meta http-equiv="refresh" content="30;/etudiants" />--> 
<form [formGroup]="myForm"(ngSubmit)="onSubmitForm()">
  <body>
    <fieldset>
          <legend align="left"><div id="fieldtitre">Informations :</div></legend>
          
            <div class="form-group">
              <label>Nom :</label>
              <input type="text" id ="Nom" formControlName="Nom" placeholder = "nom" class = "form-control" >
                <div *ngIf="myForm.controls['Nom'].invalid && (myForm.controls['Nom'].dirty || myForm.controls['Nom'].touched)"class="alert alert-danger">
                <div *ngIf="myForm.controls['Nom'].errors.required">
                  Le Nom est obligatoire.
                </div>
              </div>
            </div>
            <div class="form-group">
                <label>Prenom : </label>
                <input type="text" id="Prenom" formControlName="Prenom" placeholder = "prenom" class = "form-control">
                <div *ngIf="myForm.controls['Prenom'].invalid && (myForm.controls['Prenom'].dirty || myForm.controls['Prenom'].touched)"class="alert alert-danger">
                  <div *ngIf="myForm.controls['Prenom'].errors.required">
                    Le Prenom est obligatoire.
                  </div>
                </div>
              </div>
            <div class="form-group">
              <label>Matricule :</label>
              <input type="text" id="Matricul" formControlName="Matricul" placeholder = "nn/nnnn" class = "form-control">
              <div *ngIf="myForm.controls['Matricul'].invalid && (myForm.controls['Matricul'].dirty || myForm.controls['Matricul'].touched)"class="alert alert-danger">
                <div *ngIf="myForm.controls['Matricul'].errors.required">
                  Le Matricule est obligatoire.
                </div>
              </div> 
            </div>
            <div class="form-group">
                <label><strong>Email :</strong></label>
                <input type="email" id="Email"formControlName="Email" placeholder = "utilisateur@esi.dz" class = "form-control">
                <div *ngIf="myForm.controls['Email'].invalid && (myForm.controls['Email'].dirty || myForm.controls['Email'].touched)"class="alert alert-danger">
                  <div *ngIf="myForm.controls['Email'].errors.required">
                    L'Email est obligatoire.
                  </div>
                  <div *ngIf="myForm.controls['Email'].errors.pattern">
                    Respectez la forme : Utilisateur@esi.dz !.
                  </div>
                </div>
              </div>
              <div id="1"></div>
            <div class="form-group">
                <div class="col-sm-10">
                  <button id="confirmer" type ="button" [disabled]="myForm.controls['Email'].invalid"(click)="confirmer()"><span><i class="fa fa-user-plus" aria-hidden="true"></i></span> Confirmer </button> 
                  <!--<button type="submit" name="confirm"class="btn btn-primary">Confirmer</button>-->
                  
                </div>
                
            </div>
            
            <div class="form-group">
              <label>Code de confirmation:</label>
              <input type="text" id ="Code" formControlName="Code" placeholder = "Entrez le code de confirmation" class = "form-control" >
              <div *ngIf="myForm.controls['Code'].invalid && (myForm.controls['Code'].dirty || myForm.controls['Code'].touched)"class="alert alert-danger">
                <div *ngIf="myForm.controls['Code'].errors.required">
                  Le Code de confirmation est obligatoire.
                </div>
              </div>
            </div>
    </fieldset>
    <fieldset>
          <legend align="left"><div id="fieldtitre">Saisissez vos choix de specialité :</div></legend>
            <div class="form-group">
                <label>Choix1 :</label>
                <select class="form-control"id ="Choix1"formControlName="Choix1" style="width:300px;" >
                   
                    <option value="siq">SIQ</option>
                    <option value="sil">SIL</option>
                    <option value="sit">SIT</option>
                </select>
                <div *ngIf="myForm.controls['Choix1'].invalid && (myForm.controls['Choix1'].dirty || myForm.controls['Choix1'].touched)"class="alert alert-danger">
                  <div *ngIf="myForm.controls['Choix1'].errors.required">
                    Veuillez inserer le Choix Numero1!.
                  </div>
                </div>
              </div>
            <div class="form-group">
                <label>Choix2 :</label>
                <select class="form-control"id = "Choix2"formControlName="Choix2" style="width:300px;" >
                    
                    <option value="siq">SIQ</option>
                    <option value="sil">SIL</option>
                    <option value="sit">SIT</option>
                </select>
                <div *ngIf="myForm.controls['Choix2'].invalid && (myForm.controls['Choix2'].dirty || myForm.controls['Choix2'].touched)"class="alert alert-danger">
                  <div *ngIf="myForm.controls['Choix2'].errors.required ">
                    Veuillez inserer le Choix Numero2!.
                  </div>
                </div>
              </div>
            <div class="form-group">
                <label>Choix3 :</label>
                <select class="form-control" id = "Choix3"formControlName="Choix3" style="width:300px;" >
                    <option value="siq">SIQ</option>
                    <option value="sil">SIL</option>
                    <option value="sit">SIT</option>
                </select>       
                <div *ngIf="myForm.controls['Choix3'].invalid && (myForm.controls['Choix3'].dirty || myForm.controls['Choix3'].touched)"class="alert alert-danger">
                  <div *ngIf="myForm.controls['Choix3'].errors.required">
                    Veuillez inserer le Choix Numero3!.
                  </div>
                </div>          
              </div>
    </fieldset>
        <button id ="valider"type="submit" [disabled]="myForm.invalid" classe="btn btn-primary">Valider</button>

  </body>
</form>
</div>
