
<div class="wrapper">

        <div class="content">
         
              <nav id="sidebar">
                <div class="sidebar-header">
                  <h3>AFF-ETUD </h3>
                </div>
                <ul class="list-unstyled components">
                    <li>
                        <a routerLink="/acceuil">ACCEUIL</a>
                      </li>
                      
                </ul>
              </nav>
             
              
  </div>
 
  <router-outlet></router-outlet>
 
  </div>
  <footer>

    <p>copyright @2020. All rights reserved.</p>
    
    </footer>
