<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">   
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
             <a class="nav-link" routerLink="/">Home </a>
            </li>
          </ul>
        </div>
      </nav>
</div>
<body>
    
<div class="content">
    
       
    <div style="padding:5px; background-color:#E0E0E0; border:2px solid #656ab0; -moz-border-radius:9px; -khtml-border-radius:9px; -webkit-border-radius:9px; border-radius:9px;height: 500px ;width:1098px;"> 
       
    <legend align="center"><div id="fieldtitre">Continuez en tant que :</div></legend>
   
    <a  href = "/etudiants" ><img id ="admin"src="assets/icon.png"  />
        <br/>
    <samp>Admin</samp>
    </a>


     <a  href = "/forms" ><img id ="etud" src="assets/graduate-user-icon.jpg"  />
     <br/>
     <span>Etudiant</span>
    
    </a>
    
</div>

</div> 

</body>