<div class="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
     </ul>
    </div>
  </nav>
</div>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Matricul</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Moyenne</th>
        <th scope="col">Choix1</th>
        <th scope="col">Choix2</th>
        <th scope="col">Choix3</th>
      </tr>
    </thead>
  <tbody>
    <tr *ngFor="let etudiant of etudiants">
      <td>{{ etudiant.Matricul }}</td>
      <td>{{ etudiant.Nom }}  </td>
      <td>{{ etudiant.Prenom }}</td>
      <td>{{ etudiant.Moyenne }}</td>
      <td>{{ etudiant.Choix1 }}</td>
      <td>{{ etudiant.Choix2 }}</td>
      <td>{{ etudiant.Choix3}}</td>
    </tr>
  </tbody>
</table>